/* BASIC STYLES HERE */
input {
  max-width: inherit;
  border: 0ch;
}

.hero-img {
  background-image: url(/assets/img/army-world-map.png);
  background-position: center;
  background-size: cover;
}

.clear {
  background-color: transparent !important;
}

.clear-fog {
  backdrop-filter: blur(2px);
  /* background-color: black; */
}

.title-font {
  font-family: 'Black Ops One', cursive;
}