/* BASIC STYLES HERE */
input {
  max-width: inherit;
  border: 0ch;
}

.bg-mobile {
  background-image: url(assets/img/mobile.jpg);
  background-position: center;
  background-size: cover;
}

/* .clear {
  background-color: transparent !important;
} */

/* .clear-fog {
  backdrop-filter: blur(3px);
} */

.title-font {
  font-family: 'Black Ops One', cursive;
  font-size: 3em;
  font-weight: 900;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.heavy {
  text-shadow: 1px 1px 2px black !important;
  font-weight: 700 !important;
  color: rgb(215, 215, 215) !important;
}

.heavy-dark {
  text-shadow: 1px 1px 2px rgb(215, 215, 215) !important;
  font-weight: 700 !important;
  color: black !important;
}

.scale-up:hover {
  transform: scale(1.25);
}

.desktop-note {
  height: 6em;
}

@media (max-width: 768px) {
  .mobile-note {
    height: 5em;
  }

  .units-mobile {
    text-shadow: 1px 1px 2px black !important;
    font-weight: 700 !important;
    color: rgb(215, 215, 215) !important;
    background-color: #111927;
  }
}

.clear {
  background-color: transparent !important;
}

.clear-fog {
  backdrop-filter: blur(3px);
  /* background-color: transparent !important; */
}

@media (min-width: 768px) {


  .bg-desktop {
    background-image: url(assets/img/Globe.png);
    background-position: center;
    background-size: cover;
  }
}

.text-grey {
  color: rgb(124, 121, 121) !important;
}

.rounded-0 {
  border-radius: 0% !important;
}


/* .area-text {
  min-height: 2em;
  display: flex;
} */